# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Environment variables
.env
.env.test
.env.production
.env.local
.env.*.local  
.env.test.local
.env.production.local
.env.staging.local
.env.ci.local
.env.demo.local
.env.qa.local
.env.uat.local
.env.preview.local

# Misc
*.pem
*.p12
*.key
*.crt
.cache
.next
.out
.nuxt
.jspm-cache
.webpack
.cache-loader
bower_components
public/build
public/dist
public/_nuxt
coverage
reports
nyc_outputs
node_modules
